################################################################################
# Данный GITIGNORE-файл был автоматически создан Microsoft(R) Visual Studio.
################################################################################

/.vs
/Creative-BookStore/.vs/Creative-BookStore/v16
/Creative-BookStore/Creative-BookStore/obj
